[Desktop Entry]
Name=HP Fan Control
GenericName=Fan Controller
Comment=Control Fan Speeds for HP Victus
Keywords=fan;cpu;gpu;cooling;hp;victus;rpm;
Exec=/usr/local/bin/hp-fan-control/hp-fan-control
Path=/usr/local/bin/hp-fan-control/
Icon=hp-fan-control
Terminal=false
Type=Application
Categories=System;Utility;HardwareSettings;
StartupNotify=true
