[Desktop Entry]
Name=HP Fan Control
GenericName=Fan Controller
Comment=Control Fan Speeds for HP Victus
Keywords=fan;cpu;gpu;cooling;hp;victus;rpm;
Exec=/usr/local/bin/HpFanControl/HpFanControl
Path=/usr/local/bin/HpFanControl/
Icon=HpFanControl
Terminal=false
Type=Application
Categories=System;Utility;HardwareSettings;
StartupNotify=true
